.openPost{
    margin-top: 0.5rem;
    width: 100%;
    padding: 1rem;
    border-radius: 15px;
    background-color: var(--bg1);
}
.openPostHeading{
    font-size: 1.4rem;
}
.openPostBody{
    white-space: pre-line;
    padding: 1rem;
}
.openPostLeft{
    width: inherit;
}
.openPostRight{
    width: var(--right);
    background-color: var(--bg4);
}
.flexStart{
    align-items: flex-start;
}


@media only screen and (max-width: 800px) {
    .openPostRight {
      display: none;
    }
  }